<div class="home-container">
    <div class="white-box">
        <form class="search-box" action="/artists" method="get">
            <label for="artistName"></label>
            <input type="text" name="artistInput" id="artistName">
            <button class="red-button" type=" submit">Search for an artist</button>
        </form>
    </div>
</div>